@import "_variables.scss";

body {
  background-color: $gray-dark;

  font-size: 16px;

  max-width: 1700px;
  margin: 0 auto;
}

.btn {
  @include btn-style;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;

  a {
    margin-right: 5px;
    padding: 0.7rem 0;
    width: 400px;
    background-color: $gray-light;
    font-size: 1.2rem;
    color: $dark;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-style: Arial;
    box-shadow: 1px 1px 4px black;
    &:hover,
    :active {
      background-color: $dark;
      color: #eee;
    }
  }
}

.box--shadow {
  box-shadow: 1px 1px 2px black;
}

.main__section {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "banner banner banner membership"
    "banner banner banner pro-membership";

  align-items: center;

  gap: 20px;
  .main__banner {
    background-image: url("../Img/pexels-negative-space-34140.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    grid-area: banner;

    height: 72vh;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 4rem;

    > h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
      color: #eee;
    }
    > p {
      font-size: 1rem;
      margin-bottom: 2rem;
      color: #eee;
    }
  }

  .main__membership {
    background-color: $gray-light;

    text-align: center;

    grid-area: membership;

    height: 35vh;

    > p {
      font-size: 1rem;
      margin: 2rem;
    }

    > h2 {
      font-size: 2rem;
      margin-bottom: 5rem;
    }
  }

  .main__pro-membership {
    background-color: $gray-light;

    text-align: center;

    grid-area: pro-membership;

    height: 35vh;

    > p {
      font-size: 1rem;
      margin: 2rem;
    }

    > h2 {
      font-size: 2rem;
      margin-bottom: 5rem;
    }
  }
}

.container {
  margin: 1rem 0;
  display: flex;

  justify-content: space-between;
  gap: 1rem;

  .box {
    width: 25vw;
    height: 300px;
    text-align: center;
    padding: 2rem;
    background-color: $gray-light;

    display: flex;
    flex-direction: column;
    align-items: center;

    > h2 {
      margin-bottom: 2rem;
    }

    .box__img {
      width: 60px;
      margin-bottom: 2rem;
    }
  }
}

.section-business {
  padding: 2rem;
  margin: 1rem 2rem;
  background-color: $gray-light;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .section-business__img-box {
    background-image: url("../Img/pic1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
  }

  .section-business__description {
    text-align: left;
    padding: 1rem 1rem;
    > h2 {
      font-size: 2rem;
      color: $dark;
      margin-bottom: 2rem;
    }

    > p {
      font-size: 1rem;
      color: $dark;
      margin-bottom: 2rem;
    }
  }

  .section-business__btn {
    @include btn-style;
  }
}

.section-flex {
  margin: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 1rem;
  padding: 0 1rem;

  .flexig {
    width: 250px;
    height: 20vh;
  }
  .flex-item1 {
    background-image: url("../Img/photo-1614522088132-1a43e0ac57d4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .flex-item2 {
    background-image: url("../Img/photo-1614553001867-9a020f577cb3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .flex-item3 {
    background-image: url("../Img/photo-1614980076814-cc1f7a45f68d.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .flex-item4 {
    background-image: url("../Img/photo-1615752481822-b558d03f18af.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .flex-item5 {
    background-image: url("../Img/photo-1615830459766-9a6bf32d26c3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .flex-item6 {
    background-image: url("../Img/photo-1616331647290-f6e579017a6f.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .flex-item7 {
    background-image: url("../Img/photo-1616519139399-e5f76be7a3bb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .flex-item8 {
    background-image: url("../Img/photo-1616716320650-9dde0c3bb78a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.footer {
  background-color: $dark;
  color: #eee;
  padding: 2rem;
  text-align: center;
  margin: 0 2rem;
}

@import "media-quries";
